.gallery {
  width: 1600px;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
}

.photo-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  text-decoration: none;
  color: black;
}
.photo-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.info {
  padding: 0 16px;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
.info-item {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.load-more {
  display: block;
  margin: 0 auto;
}

.load-more.is-hidden {
  display: none;
}
